body {
  padding: 20px;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  outline: none;
}


#editor {
  /* Editor defaults */
  text-align: center;
  font-family: 'Crimson Text';

  p {
    outline: none;
    margin: 0px 20px;
  }

  #toolbar {
    .btn, input {
      text-align: center;
      margin-bottom: 1em;
      height: 2em;
      width: 4em;
    }

    .btn {
      @include button;
      padding: 0.2em;
    }
  }

  #paragraphs {
    font-size: 24px;
  }
}

